.bundle
db/*.sqlite3
log/*.log
tmp/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.sass-cache/
config/database.yml
config/development.sphinx.conf
._*
.svn
.hg
*.cache
*.log
*.pid
*.swp
.rvmrc
public/system
public/packages
public/assets/**/*
public/uploads
public/doc/
public/csv/
coverage
coverage.data
reports
vendor/ruby/**/*
nbproject/
.idea/
log/searchd.*.pid
